$volvo-blue: #1c6bba;
$volvo-grey: #707070;
$volvo-black: #141414;

.volvo {
  &--cars {
    &__car {
      min-width: 338.8px;
      width: 360;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

      &__body-type {
        margin: 0;
        font-size: 0.75rem;
        font-weight: 600;
        color: $volvo-grey;
        text-transform: uppercase;
        letter-spacing: 0.02rem;
      }

      &__name {
        margin: 0 0 16px 0;
        font-size: 1rem;
        line-height: 1.5;
        color: $volvo-black;
      }

      &:hover {
        p {
          color: $volvo-blue !important;
        }
      }

      &__links {
        margin: 16px 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &__link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: $volvo-blue;
          text-transform: uppercase;
          line-height: 1.375rem;
          font-size: 0.875rem;
          text-decoration: none;
          letter-spacing: 0.02em;
          font-weight: 600;
          -webkit-transition: 250ms;
          -o-transition: 250ms;
          transition: 250ms;
          margin: 0 12px;

          &:hover {
            -webkit-transition: 250ms;
            -o-transition: 250ms;
            transition: 250ms;
            color: $volvo-black;

            svg {
              path {
                stroke: $volvo-black;
              }
            }
          }
        }
      }
    }
  }
}
