$volvo-blue: #1c6bba;
$volvo-grey: #707070;
$volvo-black: #141414;

.volvo {
  animation: fadeIn 500ms ease-in;
  padding: 24px;
  position: relative;
  background: linear-gradient(180deg, #fff 0%, rgba(24, 26, 32, 0.1) 100%);
  min-height: 100vh;

  &--title {
    color: $volvo-black;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 48px;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
  }

  &--container {
    width: 100%;
    max-width: 1064.4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &--pagination {
    margin-left: auto;
    margin-right: 0;
    &__back {
      margin-right: 8px;
      svg {
        transform: rotate(180deg);
      }
    }

    &__back,
    &__next {
      cursor: pointer;

      &--disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }
  }

  input {
    margin-bottom: 42px;
    padding: 12px 8px;
    border-radius: 3px;
    border-color: rgba($volvo-grey, 0.2);
    outline: none;
    font-size: 1rem;
  }

  &--cars {
    &__no-results {
      color: $volvo-black;
      text-align: center;
      font-size: 1.125rem;
      letter-spacing: 0.02em;
      animation: fadeIn 500ms ease-in;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
