$volvo-blue: #1c6bba;
$volvo-grey: #707070;
$volvo-black: #141414;

.volvo {
  -webkit-animation: fadeIn 500ms ease-in;
  animation: fadeIn 500ms ease-in;
  padding: 12px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(rgba(24, 26, 32, 0.1))
  );
  background: -o-linear-gradient(top, #fff 0%, rgba(24, 26, 32, 0.1) 100%);
  background: linear-gradient(180deg, #fff 0%, rgba(24, 26, 32, 0.1) 100%);
  min-height: 100vh;
  overflow-x: hidden;

  &--title {
    color: $volvo-black;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 48px;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
  }

  &--container {
    width: 100%;
    max-width: 1064.4px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  input {
    margin: 0 8px 42px 8px;
    padding: 12px 8px;
    border-radius: 3px;
    border-color: rgba($volvo-grey, 0.2);
    outline: none;
    font-size: 1rem;
  }

  &--cars {
    &__no-results {
      color: $volvo-black;
      text-align: center;
      font-size: 1.125rem;
      letter-spacing: 0.02em;
      -webkit-animation: fadeIn 500ms ease-in;
      animation: fadeIn 500ms ease-in;
      margin: 96px 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
